body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4278b3;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

label {
    margin-bottom: 5px;
}

input, button {
    margin-bottom: 10px;
    padding: 5px;
}

button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 20px;
}

#summaryData {
    border: 1px solid #ccc;
    padding: 10px;
}

canvas {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
}

.logActivityButton {
    font-size: 21px; 
    border-radius: 7px; 
    background-color: #4CAF50; 
    color: rgb(255, 255, 255);
    padding: 5px 20px; 
    border: none; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.logActivityButton:hover {
    background-color: #3a873e; /* Change background color on hover */
}
